<% layout('layouts/boilerplate') -%>

<div class="container py-3">
  <h1 class="text-center"><img src="<%= currentUser.image.path %>" alt="<%= currentUser.username %>'s Profile Image"  class="profile-image"> <%= currentUser.username %>'s Profile</h1>

  <div class="text-center mb-3">
    <h2>Recent Posts:</h2>

    <% posts.forEach((post) => { %>
      <div>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </div>
    <% }); %>
  </div>

  <div>
    <h2 class="text-center">Update Info:</h2>
  
    <form action="/profile?_method=PUT" method="POST" style="max-width: 450px;" class="mx-auto" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="username">Username: </label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" value="<%= currentUser.username %>" autofocus required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="current-password">Current Password (require to update profile): </label>
        <input class="form-control" type="password" id="current-password" name="currentPassword" placeholder="Current password" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="new-password">New Password: </label>
        <input class="form-control" type="password" id="new-password" name="newPassword" placeholder="New password">
      </div>
      <div class="mb-3">
        <label class="form-label" for="password-confirmation">Password Confirmation: </label>
        <input class="form-control" type="password" id="password-confirmation" name="passwordConfirmation" placeholder="Password confirmation">
      </div>
      <div id="validation-message"></div>
      <div class="mb-3">
        <label class="form-label" for="email">Email: </label>
        <input class="form-control" type="text" id="email" name="email" placeholder="Email" value="<%= currentUser.email %>">
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image: </label>
        <small>(this deletes existing)</small>
        <input class="form-control" type="file" id="image" name="image">
      </div>
  
      <div class="d-grid">
        <input type="submit" class="btn btn-info" id="update-profile">
      </div>
    </form>
  </div>


</div>

<script src="/javascripts/profile.js"></script>