<% layout('layouts/boilerplate') -%>

<div class="container">

  <h1 class="text-center py-2">Posts Index!</h1>

  <div class="container-fluid">
    <div id="map" class="mb-3"></div>
    <%- include('../partials/searchFilter') %>
  </div>

  <%- include('../partials/paginate-posts') %>

  <div class="container posts-container">
    <% for (let post of posts.docs) { %>
      <div class="card mb-3 mx-auto">
        <img src="<%= post.images[0].path %>" class="card-img-top" alt="Post image">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">Price: <%= post.price %></p>
          <p class="card-text"><%= post.description %></p>
          <p class="card-text">Location: <%= post.location %></p>
          <a href="/posts/<%= post.id %>" class="btn btn-primary">View more</a>
        </div>
      </div>
    <% }; %>
  </div>

  <%- include('../partials/paginate-posts') %>

</div>

<script>
  mapboxgl.accessToken = "<%= mapBoxToken %>";
  const posts = { features: <%- JSON.stringify(posts.docs) %> };
</script>

<script src="/javascripts/allPostsClusterMap.js"></script>
